
/* body */
body {
  background: #ffffff;
  color: #5e5e5e;
  font: 400 87.5%/1.5em 'Open Sans', sans-serif;
  min-width: 900px;
  background-image: url(../images/top.jpg);
  background-size: 1920px;
  background-position: center top;
  background-repeat: no-repeat;
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
 
}
a{
  text-decoration: none;
}
image{
  max-width: 100%;
}
/*-------------header-------------*/
.header-wrapper{
  display: flex;
  height: 65px;
  justify-content: space-between;
  background-color:rgb(248, 248, 248);
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  
}
.header-top{
  display: flex;
}
nav{
  display: flex;
}
.header-top img{
  width: 50px; 
  height: 50px;
  margin: 7px 10px 7px 30px;
}
.header-top h1{
  font-size: 1.25rem;
  margin: auto 0;
}
.main-nav{
  display: flex;
  list-style: none;
}
.main-nav li{
  margin-left: 25px;
  margin-top: 20px;
}
.main-nav li:last-child a{
  padding-left: 25px;
  border-left: 1px #5e5e5e solid;
}
.main-nav a{
  color:#5e5e5e;
  font-size: 1.125rem;
}
.main-nav a:hover{
  color: #ececec;
  transition: 0.2s;
}
nav img{
  width: 35px;
  margin: 12px 30px 12px 20px;
}

/* main */
.itemWrap{
    background-color:rgb(238, 238, 238);
    height: 600px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 130px;
    opacity: 0.9;
    border-radius: 15px;
}
.purchaseWrap{
    display: flex;
}
.purchaseWrap .item-img{
    margin: 100px;
}
.purchaseWrap img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.itemTitle{
    border-bottom:1px solid rgb(82, 82, 82);
}
.purchaseDiscription{
    margin: 100px 100px 100px 0px;
}
.purchaseDiscription h2{
    font-size: 20px;
    margin-bottom: 20px;
}
.purchaseDiscription h3{
    font-weight: 200;
    color: #5e5e5e;
    margin-bottom: 10px;
}
.purchaseDiscription p {
    margin-top: 20px;
}
.purchaseBtn{
    margin-top: 30px;
}
.purchaseBtn:hover{
    opacity: 0.7;
    filter: alpha(opacity=70); 
    transition: 0.3s;
}
.purchaseBtn .addToCart{
    padding: 15px 100px ;
    text-align: center;
    background-color: rgb(100, 146, 202);
    box-shadow: 2px 2px 4px  gray;
    display: block;
    color: #ffffff;
}
.red{
  background-color:red;
  color:white;
  padding:15px 10px;
  
  
}